$body-bg : #dedede;
$deep-blue : #003049;
$navy-purple : #5B5678;
$max-red : #D62828;
$q-orange : #F77F00;
$red-pink : #993F50;

body {
  background: #fefefe !important;
}

a {
  color: crimson;

  &:hover {
    color: crimson;
  }
}

.bg-login {
  background: url("../assets/img/bg-login.jpg") !important;
}

.card {
  border: 0;
  background: #ffffff;

  border-radius: 0.5rem;
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2.5rem;

  .card-header {
    border: 0;
    color: crimson;
    border-radius: .5rem .5rem 0 0;
  }
}

.stat-card {
  .card-body {
    padding: 18px;
    color: #000;

    h4 {
      font-size: 1.2rem;
      font-weight: 300;
    }

    h5 {
      font-size: 2.25rem;
      font-weight: 700;
    }
  }
}

.table-recent-orders {
  .order-detail {
    font-weight: bold !important;
  }

  .order-status {
    font-weight: bold !important;
  }

  .order-cost {
    font-weight: bold !important;
    text-align: right;
  }

}

.raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }
}

/* Modal Styling */
.modal {
  background: rgba(0, 0, 0, 0.50);
  opacity: 0;
  display: block;
  transition: opacity 0.5s;
}

.modal-content {
  border-width: 0;
  border-radius: .5rem;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);

  .modal-header {
    border: 0;
    color: crimson;
    border-radius: .5rem .5rem 0 0;
    background: rgba(0, 0, 0, 0.03);
    padding: 0.75rem;
    align-items: center;

    .btn-close {
      border: none;
      background: none;
      font-size: 1.25rem;
      padding: 0;
      transition: 0.1s;
      color: rgba(0, 0, 0, 0.5);

      &:hover {
        color: crimson;
      }

   
    }
  }

  .modal-body {
    padding: 0.75rem;
  }
  .modal-footer {
    border: 0;
    padding-top: 0;
  }
}