body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f7f7f7 !important;
}

.menu-container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 5rem;

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-header-logo {
      max-height: 150px;
    }
  }

}

.submenu-container {
  margin-bottom: 8px;
  padding: 8px;
  background: #ffffff;

  .submenu-header {
    color: #a60f2c;
    border-bottom-color: #606060;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;

    h2 {
      margin: 0 0 .5rem 0;
      font-size: 1.25rem;
    }
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  border-bottom: rgba(220, 20, 60, 0.25) dotted 2px;


  .product-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .product-name {
      margin: 0;
      width: 65%;
      h3{
        margin: 0;
        font-size: 1rem;
      }
    }

    .product-price {
      text-align: right;
      margin: 0;
      width: 35%;
      font-size: 1rem;
      font-weight: bold;

      .product-quantity {
        border-radius: 10rem;
        font-size: 0.75rem;
        font-weight: bolder;
        background: orange;
        margin-right: 0.5rem;
        padding: 0.15rem 0.5rem;
        color: white;
      }
    }
  }

  .product-detail-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .product-description {
      font-size: 0.8rem;
      color: #989898;
      width: 80%;
    }

    .product-actions {
      text-align: right;
      width: 20%;

      button {
        width: 1.4rem;
        height: 1.4rem;
        background: white;
        border-style: solid;
        border-width: 0.1rem;
        border-radius: 0.3rem;
        padding: 0;
        span {
          margin: auto;
        }
      }

      .action-btn-add {
        border-color: green;
        color: green;
        cursor: pointer;

        &:hover {
          background: green;
          color: white;
        }

        &:active {
          background: white;
          color: green;
        }
      }

      .action-btn-remove {
        border-color: crimson;
        color: crimson;
        cursor: pointer;

        &:hover {
          background: crimson;
          color: white;
        }

        &:active {
            background: white;
          color: crimson;
        }
      }

    }
  }

}

.bottom-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;

  .order-summary-container {
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    padding: 8px 0;
    background: rgba(255, 255, 255, 0.9);
    animation-duration: 0.5s;
    transition: 0.5s;

    .order-detail-column {
      width: 75%;
      padding-left: 16px;

      .order-desk {
        color: darkgrey;
      }

      .order-cost {
        font-size: 1.25rem;
        font-weight: bold;
        color: #a60f2c;
      }
    }

    .order-confirm-column {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      text-align: right;
      width: 25%;
      padding-right: 16px;

      .confirm-order-btn {
        border: green solid 2px;
        border-radius: 0.35rem;
        background: #36a836;
        font-size: 1rem;
        color: white;
        padding: 0.5rem 1.5rem;

        &:hover {
          cursor: pointer;
          background: green;
        }

        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}

.hidden {
  display: none;
}