.qrcode-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  margin: 1rem;

  .qrcode-label {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .qrcode{
    display: flex;
    justify-content: center;
    padding: 1rem;
    img {
      width: 150px;
    }
  }
}